/*Page level design attributes*/
body{
font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
display: block;
text-align: center;
}

/*Header Design Attributes Start*/

header{
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;

}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

header img{
  margin-left: 10px;
  height: 50px;
}

header nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px
}

nav a{
color: white;
text-decoration: underline;
margin: 0 10px;
}

/*Mission Design Attributes Start*/

.content{
  width: 1200px;
  margin: auto;
}

.main-image{
  background-image: url("../images/background.jpg");
  height: 700px;
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: 69px;
}

.image-content{
  background-color: black;
  opacity: 1;
  width: 100%;
}

/*Featured Items Design Attributes End*/

.featured{
  width: 1000px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.topitems{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.bottomitems{
  display: flex;
  justify-content: center;
  padding-bottom: 50px
}

.menu-item{
  width: 300px;
  flex-wrap: wrap;
  margin: 15px 15px;
}

.menu-item img{
  height: 200px;
  width: 300px;
}

/*Location Design Attributes Start*/

#locations {
  height: 500px;
  padding-top: 70px;
  background-image: url("../images/locations.jpg");
}

.location_box {
  opacity: 1.0;
  margin: 5px 20px;
  padding: 10px;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.flexbox_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer{
  padding-top: 30px;
}

.copyright{
  text-align: left;
  margin-left: 20px;
}
